body {
    background: #4195b6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background: #EBF8F4;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 10px 20px rgb(0 0 0 / 15%);
    padding: 20px;
}

.generate-pass {
    position: relative;
    margin-bottom: 20px;
}

.generate-pass input {
    border: 1px solid #CCC;
    border-radius: 20px;
    padding: 10px 20px;
    color: #878787;
    width: 100%;
    box-sizing: border-box;
}

.generate-pass .copy {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 10px;
    fill: #878787;
}

.inputs {
    width: 80%;
    margin: 0 auto;
}

label,
.input-group {
    margin-bottom: 10px;
}

label {
    display: flex;
    gap: 20px;
}

label input {
    pointer-events: none;
}

.slider-container {
    display: flex;
    gap: 20px;
}

.slider {
    width: 100%;
    height: 3px;
    margin-top: 10px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}

button {
    background: #e69e1a;
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    width: 100%;
}